body{
  display: flex;
  justify-content: space-between;
}

.container-center{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-left{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-right{
  width: 30%;
  height: 100%;
}


.game-title{
  color: #ffffff;
  font-size: 30px;
}

.field {
  font-family: 'Indie Flower', cursive;
  color: #ffffff;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  user-select: none;
  cursor: pointer;
}

.battlefield{
  width: 660px;
  height: 660px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hash-stick{
  background-color: #000000;
  position: absolute;
  overflow: hidden;
}

.hash-stick-1{
  width: 30px;
  height: 100%;
  background-color: #52057b;
  border-radius: 20px;
  left: 200px;
  transform: rotate(2deg);
}

.hash-stick-2{
  width: 30px;
  height: 100%;
  background-color: #52057b;
  border-radius: 20px;
  right: 200px;
  transform: rotate(2deg);
}

.hash-stick-3{
  height: 30px;
  width: 100%;
  background-color: #52057b;
  border-radius: 20px;
  top: 200px;
}

.hash-stick-4{
  height: 30px;
  width: 100%;
  background-color: #52057b;
  border-radius: 20px;
  bottom: 200px;
}

.player-card{
  width: 80%;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  border: 1px solid #892cdc;
  margin: 10px 0;
  cursor: pointer;
}

.player-card-image{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.container-left{
  display: flex;
  flex-direction: column;
}

.player-card-center{
  display: flex;
  flex-direction: column;
}

.player-card-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  max-height: 70%;
  overflow: auto;
}

.player-card-info{
  margin: 5px 0;
}

.player-card-score{
  font-size: 50px;
  width: 18%;
  margin-left: 15px;
}

.win{
  color:red;
}

.card-selected{
  background-color: #bc6ff1;
}

.button{
  padding: 10px;
  color: #52057b;
  margin: 10px 0;
}

.container-modal {
  width           : 100%;
  height          : 100%;
  display         : flex;
  justify-content : center;
  align-items     : center;
  background-color: #0000004D;
  position        : absolute;
  left            : 0;
  top             : 0;
}

.modal {
  padding         : 20px;
  background-color: #ffffff;
  border-radius   : 10px;
  display         : flex;
  flex-direction  : column;
  align-items     : flex-end;
}

.modal-text {
  font-size: 20px;
  color: #000000;
}

.scoreboard{
  margin: 20px 0;
  font-size: 40px;
}

.match-number{
  font-size: 50px;
}

.modal-button {
  margin-top      : 20px;
  background-color: #0097E6;
  color           : #ffffff;
  border-radius   : 5px;
  border          : none;
  font-size       : 20px;
}